/* import stylesheets and hide from IE/Mac \ */
/*--------------------------------------------------------------
 *   reset.css
 *   * Resets default browser CSS.
 *-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white; }

/* Tables still need 'cellspacing="0"' in the markup. */
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

table {
  border-collapse: separate;
  border-spacing: 0; }

/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

/* -----------------------------------------------------------------------
 * ie.sass -> ie.css
 *----------------------------------------------------------------------- */
/* PNG fix */
* html #selector {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale src='img/image.png');
  background-image: none;
  background-repeat: no-repeat;
  background-color: transparent; }

/* self clear floats */
* html .group {
  height: 1%; }

*:first-child + html .group {
  min-height: 1px; }

/* --------------------------------------------------------------
 *
 *   typography.css
 *   * Sets up some sensible default typography.
 *
 *-------------------------------------------------------------- */
/* Default font settings.
 * The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
  font-size: 100.01%; }

body {
  font-size: 75%;
  color: #222222;
  background: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* Headings
 *-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #111111; }

h1 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 1.75em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* Text elements
 *-------------------------------------------------------------- */
p {
  margin: 0 0 1.5em; }

/*	These can be used to pull an image at the start of a paragraph, so 
 *	that the text flows around it (usage: <p><img class="left">Text</p>) */
.left {
  float: left !important; }

p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

.right {
  float: right !important; }

p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0; }

a {
  color: #0066cc;
  text-decoration: underline; }
  a:focus, a:hover {
    color: #0099ff; }

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic; }

strong, dfn {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666666; }

pre {
  margin: 1.5em 0;
  white-space: pre;
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

/* Lists
 *-------------------------------------------------------------- */
li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }
  dl dt {
    font-weight: bold; }

dd {
  margin-left: 1.5em; }

/* Tables
 *-------------------------------------------------------------- */
/*	Because of the need for padding on TH and TD, the vertical rhythm 
 *	on table cells has to be 27px, instead of the standard 18px or 36px 
 *	of other elements. */
table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

/*	You can zebra-stripe your tables in outdated browsers by adding 
 *	the class "even" to every other table row. */
tbody tr:nth-child(even) td, tbody tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eeeeee; }

/* Misc classes
 *-------------------------------------------------------------- */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }

.hide {
  display: none; }

.quiet {
  color: #666666; }

.loud {
  color: black; }

.highlight {
  background: yellow; }

.added {
  background: #006600;
  color: white; }

.removed {
  background: #990000;
  color: white; }

.first {
  margin-left: 0;
  padding-left: 0; }

.last {
  margin-right: 0;
  padding-right: 0; }

.top {
  margin-top: 0;
  padding-top: 0; }

.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

/*--------------------------------------------------------------
 *   colors.sass => colors.css                                  
 *-------------------------------------------------------------- */
/*--------------------------------------------------------------
 *   typography1.css
 *-------------------------------------------------------------- */
/*--------------------------------------------------------------
 *   master.css
 *-------------------------------------------------------------- */
body {
  font-family: arial, helvetica neue, verdana, tahoma, arial, helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.9) url("../img/grass.jpg") top left repeat-x fixed;
  background: white url("../img/grass.jpg") top left repeat-x fixed;
  color: #1e1e1e;
  color: rgba(30, 30, 30, 0.8);
  margin: 10px;
  padding: 10px; }
  body h1 {
    color: #28280a;
    color: rgba(40, 40, 10, 0.9); }
  body h2 {
    color: #28280a;
    color: rgba(40, 40, 10, 0.9); }
  body h3 {
    color: #28280a;
    color: rgba(40, 40, 10, 0.9); }
  body h4 {
    color: #28280a;
    color: rgba(40, 40, 10, 0.9); }
  body h5 {
    color: #28280a;
    color: rgba(40, 40, 10, 0.9); }
  body h6 {
    color: #28280a;
    color: rgba(40, 40, 10, 0.9); }
  body p {
    color: #1e1e1e;
    color: rgba(30, 30, 30, 0.8); }

table.index_data {
  margin: 0px;
  border: 0px solid white;
  padding: 6px;
  font-size: 7pt; }
  table.index_data tr {
    background-image: none; }
    table.index_data tr th {
      background: #c8c83c url("../img/glass_button.png") repeat-x 0 50%;
      background: rgba(200, 200, 60, 0.6) url("../img/glass_button.png") repeat-x 0 50%;
      color: white;
      padding-left: 6px;
      padding-right: 6px;
      height: 32px; }
    table.index_data tr td {
      background-image: none;
      height: 26px;
      padding-left: 6px;
      padding-right: 6px; }
  table.index_data tr.list-line-odd {
    background: #dcfff0;
    background: rgba(220, 255, 240, 0.8); }
  table.index_data tr.list-line-even {
    background: #f0ffdc;
    background: rgba(240, 255, 220, 0.6); }

/*--------------------------------------------------------------
 *   structure_fixed.css
 *-------------------------------------------------------------- */
#container {
  margin: 0 auto;
  width: 1000px;
  background: white;
  background: white;
  border-top-left-radius: 1em 1em;
  -webkit-border-top-left-radius: 1em 1em;
  -moz-border-radius-topleft: 1em 1em;
  border-top-right-radius: 1em 1em;
  -webkit-border-top-right-radius: 1em 1em;
  -moz-border-radius-topright: 1em 1em;
  border-bottom-left-radius: 1em 1em;
  -webkit-border-bottom-left-radius: 1em 1em;
  -moz-border-radius-bottomleft: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  -webkit-border-bottom-right-radius: 1em 1em;
  -moz-border-radius-bottomright: 1em 1em; }

#header {
  background: #41cda0;
  background: rgba(65, 205, 160, 0.5);
  padding: 20px;
  border-top-left-radius: 1em 1em;
  -webkit-border-top-left-radius: 1em 1em;
  -moz-border-radius-topleft: 1em 1em;
  border-top-right-radius: 1em 1em;
  -webkit-border-top-right-radius: 1em 1em;
  -moz-border-radius-topright: 1em 1em; }
  #header h1 {
    margin: 0; }
  #header #logo {
    padding: 0;
    margin: 0; }

#navigation {
  float: left;
  width: 1000px;
  background: #23af82;
  background: #23af82; }
  #navigation ul {
    margin: 0;
    padding: 0; }
    #navigation ul li {
      list-style-type: none;
      display: inline; }
  #navigation li a {
    display: block;
    float: left;
    padding: 5px 10px;
    background: #23af82 url("../img/glass_button.png") repeat-x 0 50%;
    background: #23af82 url("../img/glass_button.png") repeat-x 0 50%;
    color: white;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    border-right: 1px solid white;
    border-right: 1px solid rgba(255, 255, 255, 0.7); }
    #navigation li a:hover {
      color: white;
      color: white;
      background: #057d4b url("../img/glass_button.png") repeat-x 0 50%;
      background: #057d4b url("../img/glass_button.png") repeat-x 0 50%; }

#content_container {
  float: left;
  width: 1000px;
  background: white;
  background: white;
  border-bottom-left-radius: 1em 1em;
  -webkit-border-bottom-left-radius: 1em 1em;
  -moz-border-radius-bottomleft: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  -webkit-border-bottom-right-radius: 1em 1em;
  -moz-border-radius-bottomright: 1em 1em; }

#left_sidebar {
  float: left;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  width: 140px;
  padding: 15px 10px 10px 10px;
  margin: 0 15px;
  display: inline; }
  #left_sidebar ul {
    width: 120%;
    margin: 0;
    padding: 0 0 0 0px;
    border-top: 1px dotted green;
    background: white;
    background: rgba(255, 255, 255, 0.05); }
    #left_sidebar ul li {
      margin: 0 0 0 0px;
      padding: 0em;
      list-style-type: none;
      font-size: 1em;
      font-family: arial;
      border-bottom: 1px dotted green;
      padding-top: 2px;
      text-align: right; }
      #left_sidebar ul li:hover {
        background: #c8e65a;
        background: rgba(200, 230, 90, 0.9); }
      #left_sidebar ul li a {
        color: #287832;
        color: rgba(40, 120, 50, 0.9);
        background: white;
        background: rgba(255, 255, 255, 0.05);
        text-decoration: none;
        text-align: right; }
  #left_sidebar .more_btn a {
    padding: 3px 12px;
    color: white;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    background: #23af82 url("../img/glass_button.png") repeat-x 0 50%;
    background: #23af82 url("../img/glass_button.png") repeat-x 0 50%;
    border: 1px solid #23af82;
    border: 1px solid #23af82;
    border-top-left-radius: 1em 1em;
    -webkit-border-top-left-radius: 1em 1em;
    -moz-border-radius-topleft: 1em 1em;
    border-top-right-radius: 1em 1em;
    -webkit-border-top-right-radius: 1em 1em;
    -moz-border-radius-topright: 1em 1em; }
    #left_sidebar .more_btn a:hover {
      color: white;
      color: white;
      background: #057d4b url("../img/glass_button.png") repeat-x 0 50%;
      background: #057d4b url("../img/glass_button.png") repeat-x 0 50%; }

#content {
  float: left;
  background: rgba(255, 255, 255, 0.7);
  width: 320px;
  padding: 15px 10px 10px 10px;
  margin: 0 0 0 30px; }
  #content h1 {
    font-size: 180%;
    color: #465a0f;
    color: rgba(70, 90, 15, 0.9); }
  #content h2 {
    margin: 0;
    font-size: 150%;
    color: #465a0f;
    color: rgba(70, 90, 15, 0.9); }
  #content #pagetitle {
    color: #c86464;
    color: rgba(200, 100, 100, 0.9);
    font-size: 8pt; }
    #content #pagetitle a {
      text-decoration: none;
      color: #c86464;
      color: rgba(200, 100, 100, 0.9); }
      #content #pagetitle a:hover {
        color: #f08c8c;
        color: rgba(240, 140, 140, 0.9); }
  #content ol.content_sub {
    clear: left;
    width: 400PX;
    padding: 10px;
    border: 1px dotted red;
    margin: 1px;
    background: #fafafa;
    background: rgba(250, 250, 250, 0.8); }
    #content ol.content_sub li.content_sub_left {
      float: left;
      width: 100px;
      border: 1px dotted red;
      background: #fafafa;
      background: rgba(250, 250, 250, 0.8); }
    #content ol.content_sub li.content_sub_center {
      float: left;
      width: 100px;
      border: 1px dotted red;
      background: #fafafa;
      background: rgba(250, 250, 250, 0.8); }
    #content ol.content_sub li.content_sub_right {
      float: left;
      width: 100px;
      border: 1px dotted red;
      background: #fafafa;
      background: rgba(250, 250, 250, 0.8); }

#right_sidebar {
  float: left;
  background: white;
  background: rgba(255, 255, 255, 0.99);
  width: 140px;
  padding: 15px 10px 10px 10px;
  margin: 0 20px 0 0;
  display: inline; }
  #right_sidebar h3 {
    margin: 0; }

#footer {
  clear: left;
  background: #373737;
  background: rgba(55, 55, 55, 0.9);
  text-align: right;
  padding: 20px;
  height: 1%;
  border-bottom-left-radius: 1em 1em;
  -webkit-border-bottom-left-radius: 1em 1em;
  -moz-border-radius-bottomleft: 1em 1em;
  border-bottom-right-radius: 1em 1em;
  -webkit-border-bottom-right-radius: 1em 1em;
  -moz-border-radius-bottomright: 1em 1em; }
  #footer ol.footboxes {
    background: #373737;
    background: rgba(55, 55, 55, 0.9); }
    #footer ol.footboxes li.footbox_left {
      float: left;
      background: white url("../img/img_left.jpg") repeat-x 0 50%;
      background: rgba(255, 255, 255, 0.9) url("../img/img_left.jpg") repeat-x 0 50%; }
    #footer ol.footboxes li.footbox_center {
      float: left;
      background: white url("../img/img_center.jpg") repeat-x 0 50%;
      background: rgba(255, 255, 255, 0.9) url("../img/img_center.jpg") repeat-x 0 50%; }
    #footer ol.footboxes li.footbox_right {
      float: left;
      background: white url("../img/img_right.jpg") repeat-x 0 50%;
      background: rgba(255, 255, 255, 0.9) url("../img/img_right.jpg") repeat-x 0 50%; }
  #footer a {
    font-size: 8pt;
    color: #287832;
    color: rgba(40, 120, 50, 0.9);
    background: white;
    background: rgba(255, 255, 255, 0.05);
    text-decoration: none;
    text-align: right; }

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#tabs {
  position: absolute;
  top: 98px;
  left: 8px;
  border: 0px green;
  float: left;
  width: 99%;
  background: #dae0d2 url("../images/tabs/tab_bg.gif") repeat-x bottom;
  font-size: 120%;
  line-height: normal; }
  #tabs ul {
    margin: 0;
    padding: 10px 10px 0;
    list-style: none; }
  #tabs li {
    float: left;
    background: url("../images/tabs/tab_left_off.gif") no-repeat left top;
    margin: 0;
    padding: 0 0 0 9px; }
  #tabs a, #tabs strong, #tabs span {
    display: block;
    background: url("../images/tabs/tab_right_off.gif") no-repeat right top;
    padding: 8px 19px 6px 8px; }
  #tabs #current {
    background-image: url("../images/tabs/tab_left_on.gif"); }
    #tabs #current a {
      background-image: url("../images/tabs/tab_right_on.gif");
      padding-bottom: 7px; }

#base {
  border: 1px solid black;
  margin: 0em;
  width: 10em;
  padding: 0px; }

/* end import/hide */
