
#tabs {
	position:absolute;
	top:98px;
	left:8px;
	border:0px green;
	float:left;
	width:99%;
	background:#dae0d2 url("../images/tabs/tab_bg.gif") repeat-x bottom;
	font-size:120%;
	line-height:normal;
}

#tabs ul {
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}
#tabs li {
	float:left;
	background:url("../images/tabs/tab_left_off.gif")
		no-repeat left top;
	margin:0;
	padding:0 0 0 9px;
}
#tabs a, #tabs strong, #tabs span{
	display:block;
	background:url("../images/tabs/tab_right_off.gif")
	no-repeat right top;
	padding:8px 19px 6px 8px;
}
#tabs #current {
	background-image:url("../images/tabs/tab_left_on.gif");
}
#tabs #current a {
	background-image:url("../images/tabs/tab_right_on.gif");
	padding-bottom:7px;
}

#base {
	border: 1px solid #000;
	margin: 0em;
	width: 10em;
	padding: 0px;
}

