/*--------------------------------------------------------------
 *   colors.sass => colors.css                                  
 *--------------------------------------------------------------
$ribbon_sub_center_background_color_IE: #fafafa
$ribbon_sub_center_background_color: rgba(250, 250, 250, 1.00)

$navigation_background_hover_color_IE: #0f7d4b
$navigation_background_hover_color: rgba(15, 125, 75, 1.00)

$footbox_right_color_IE: #b4b4b4
$footbox_right_color: rgba(180, 180, 180, 1.00)

$content_sub_link_background_hover_color_IE: #9b9bff
$content_sub_link_background_hover_color: rgba(155, 155, 255, 1.00)

$navigation_tab_selected_color_IE: #ebaf82
$navigation_tab_selected_color: rgba(235, 175, 130, 1.00)

$ribbon_sub_link_color_IE: #f0f0f0
$ribbon_sub_link_color: rgba(240, 240, 240, 1.00)

$pcolor_IE: #1e1e1e
$pcolor: rgba(30, 30, 30, 1.00)

$left_sidebar_list_text_color_IE: #287832
$left_sidebar_list_text_color: rgba(40, 120, 50, 1.00)

$footer_link_background_color_IE: #555555
$footer_link_background_color: rgba(85, 85, 85, 1.00)

$content_sub_center_right_background_color_IE: #fafafa
$content_sub_center_right_background_color: rgba(250, 250, 250, 1.00)

$hcolor_IE: #28280a
$hcolor: rgba(40, 40, 10, 1.00)

$ribbon_sub_center_left_background_color_IE: #fafafa
$ribbon_sub_center_left_background_color: rgba(250, 250, 250, 1.00)

$index_data_table_header_color_IE: #c8c83c
$index_data_table_header_color: rgba(200, 200, 60, 1.00)

$footbox_left_background_color_IE: #555555
$footbox_left_background_color: rgba(85, 85, 85, 1.00)

$content_sub_link_hover_color_IE: #ffffff
$content_sub_link_hover_color: rgba(255, 255, 255, 1.00)

$listlineoddcolor_IE: #dcfff0
$listlineoddcolor: rgba(220, 255, 240, 1.00)

$ribbon_sub_link_background_hover_color_IE: #9b9bff
$ribbon_sub_link_background_hover_color: rgba(155, 155, 255, 1.00)

$navigation_border_color_IE: #ffffff
$navigation_border_color: rgba(255, 255, 255, 1.00)

$left_sidebar_list_background_hover_color_IE: #c8e65a
$left_sidebar_list_background_hover_color: rgba(200, 230, 90, 1.00)

$footboxes_color_IE: #555555
$footboxes_color: rgba(85, 85, 85, 1.00)

$content_sub_left_background_color_IE: #96faff
$content_sub_left_background_color: rgba(150, 250, 255, 1.00)

$content_pagetitle_color_IE: #c86464
$content_pagetitle_color: rgba(200, 100, 100, 1.00)

$ribbon_sub_center_right_background_color_IE: #fafafa
$ribbon_sub_center_right_background_color: rgba(250, 250, 250, 1.00)

$content_container2_background_color_IE: #ffffff
$content_container2_background_color: rgba(255, 255, 255, 1.00)

$footbox_center_background_color_IE: #555555
$footbox_center_background_color: rgba(85, 85, 85, 1.00)

$content_container_background_color_IE: #ffffff
$content_container_background_color: rgba(255, 255, 255, 1.00)

$content_background_color_IE: #ffffff
$content_background_color: rgba(255, 255, 255, 1.00)

$ribbon_sub_link_hover_color_IE: #ffffff
$ribbon_sub_link_hover_color: rgba(255, 255, 255, 1.00)

$base_color_IE: #ffffff
$base_color: rgba(255, 255, 255, 1.00)

$navigation_background_base_color_IE: #23af82
$navigation_background_base_color: rgba(35, 175, 130, 1.00)

$footboxes_background_color_IE: #555555
$footboxes_background_color: rgba(85, 85, 85, 1.00)

$content_sub_background_color_IE: #ffffff
$content_sub_background_color: rgba(255, 255, 255, 1.00)

$content_pagetitle_hover_color_IE: #f08c8c
$content_pagetitle_hover_color: rgba(240, 140, 140, 1.00)

$ribbon_sub_left_background_color_IE: #96faff
$ribbon_sub_left_background_color: rgba(150, 250, 255, 1.00)

$navigation_link_text_color_IE: #ffffff
$navigation_link_text_color: rgba(255, 255, 255, 1.00)

$footbox_right_background_color_IE: #555555
$footbox_right_background_color: rgba(85, 85, 85, 1.00)

$footer_background_color_IE: #555555
$footer_background_color: rgba(85, 85, 85, 1.00)

$content_sub_right_background_color_IE: #fafafa
$content_sub_right_background_color: rgba(250, 250, 250, 1.00)

$ribbon_background_color_IE: #ffffff
$ribbon_background_color: rgba(255, 255, 255, 1.00)

$listlineevencolor_IE: #f0ffdc
$listlineevencolor: rgba(240, 255, 220, 1.00)

$footbox_left_color_IE: #b4b4b4
$footbox_left_color: rgba(180, 180, 180, 1.00)

$content_sub_link_background_color_IE: #2d2d2d
$content_sub_link_background_color: rgba(45, 45, 45, 1.00)

$navigation_link_hover_color_IE: #ffffff
$navigation_link_hover_color: rgba(255, 255, 255, 1.00)

$ribbon_sub_background_color_IE: #ffffff
$ribbon_sub_background_color: rgba(255, 255, 255, 1.00)

$content_h_color_IE: #465a0f
$content_h_color: rgba(70, 90, 15, 1.00)

$left_sidebar_background_color_IE: #ffffff
$left_sidebar_background_color: rgba(255, 255, 255, 1.00)

$footer_link_text_color_IE: #ffffff
$footer_link_text_color: rgba(255, 255, 255, 1.00)

$content_sub_center_background_color_IE: #fafafa
$content_sub_center_background_color: rgba(250, 250, 250, 1.00)

$right_sidebar_background_color_IE: #ffffff
$right_sidebar_background_color: rgba(255, 255, 255, 1.00)

$ribbon_sub_right_background_color_IE: #fafafa
$ribbon_sub_right_background_color: rgba(250, 250, 250, 1.00)

$content_container1_background_color_IE: #ffffff
$content_container1_background_color: rgba(255, 255, 255, 1.00)

$footbox_center_color_IE: #646464
$footbox_center_color: rgba(100, 100, 100, 1.00)

$content_sub_link_color_IE: #f0f0f0
$content_sub_link_color: rgba(240, 240, 240, 1.00)

$navigation_background_color_IE: #23af82
$navigation_background_color: rgba(35, 175, 130, 1.00)

$ribbon_sub_link_background_color_IE: #2d2d2d
$ribbon_sub_link_background_color: rgba(45, 45, 45, 1.00)

$container_background_color_IE: #ffffff
$container_background_color: rgba(255, 255, 255, 1.00)

$left_sidebar_list_background_color_IE: #ffffff
$left_sidebar_list_background_color: rgba(255, 255, 255, 1.00)

$footer_link_text_hover_color_IE: #ffcdcd
$footer_link_text_hover_color: rgba(255, 205, 205, 1.00)

$content_sub_center_left_background_color_IE: #fafafa
$content_sub_center_left_background_color: rgba(250, 250, 250, 1.00)

$header_background_color_IE: #41cda0
$header_background_color: rgba(65, 205, 160, 1.00)

