/*--------------------------------------------------------------
 *   colors.sass => colors.css                                  
 *--------------------------------------------------------------
$ribbon_sub_link_color_IE: #f0f0f0
$ribbon_sub_link_color: #f0f0f0

$content_h_color_IE: #465a0f
$content_h_color: #465a0f

$left_sidebar_background_color_IE: #ffffff
$left_sidebar_background_color: #ffffff

$footer_link_text_color_IE: #ffffff
$footer_link_text_color: #ffffff

$content_background_color_IE: #ffffff
$content_background_color: #ffffff

$ribbon_sub_right_background_color_IE: #fafafa
$ribbon_sub_right_background_color: #fafafa

$content_container1_background_color_IE: #ffffff
$content_container1_background_color: #ffffff

$footbox_center_color_IE: #646464
$footbox_center_color: #646464

$content_sub_link_color_IE: #f0f0f0
$content_sub_link_color: #f0f0f0

$content_pagetitle_color_IE: #c86464
$content_pagetitle_color: #c86464

$ribbon_sub_link_background_hover_color_IE: #9b9bff
$ribbon_sub_link_background_hover_color: #9b9bff

$container_background_color_IE: #ffffff
$container_background_color: #ffffff

$left_sidebar_list_background_color_IE: #ffffff
$left_sidebar_list_background_color: #ffffff

$footer_link_text_hover_color_IE: #ffcdcd
$footer_link_text_hover_color: #ffcdcd

$content_sub_right_background_color_IE: #fafafa
$content_sub_right_background_color: #fafafa

$ribbon_sub_center_background_color_IE: #fafafa
$ribbon_sub_center_background_color: #fafafa

$navigation_background_hover_color_IE: #057d4b
$navigation_background_hover_color: #057d4b

$footbox_right_color_IE: #b4b4b4
$footbox_right_color: #b4b4b4

$content_sub_link_background_hover_color_IE: #9b9bff
$content_sub_link_background_hover_color: #9b9bff

$content_pagetitle_hover_color_IE: #f08c8c
$content_pagetitle_hover_color: #f08c8c

$ribbon_sub_link_hover_color_IE: #ffffff
$ribbon_sub_link_hover_color: #ffffff

$pcolor_IE: #1e1e1e
$pcolor: #1e1e1e

$left_sidebar_list_text_color_IE: #287832
$left_sidebar_list_text_color: #287832

$footer_link_background_color_IE: #555555
$footer_link_background_color: #555555

$content_sub_center_background_color_IE: #fafafa
$content_sub_center_background_color: #fafafa

$ribbon_sub_left_background_color_IE: #96faff
$ribbon_sub_left_background_color: #96faff

$index_data_table_header_color_IE: #c8c83c
$index_data_table_header_color: #c8c83c

$footbox_left_background_color_IE: #555555
$footbox_left_background_color: #555555

$content_sub_link_hover_color_IE: #ffffff
$content_sub_link_hover_color: #ffffff

$navigation_link_hover_color_IE: #ffffff
$navigation_link_hover_color: #ffffff

$navigation_border_color_IE: #ffffff
$navigation_border_color: #ffffff

$left_sidebar_list_background_hover_color_IE: #c8e65a
$left_sidebar_list_background_hover_color: #c8e65a

$footboxes_color_IE: #555555
$footboxes_color: #555555

$content_sub_left_background_color_IE: #96faff
$content_sub_left_background_color: #96faff

$right_sidebar_background_color_IE: #ffffff
$right_sidebar_background_color: #ffffff

$ribbon_sub_background_color_IE: #ffffff
$ribbon_sub_background_color: #ffffff

$content_container2_background_color_IE: #ffffff
$content_container2_background_color: #ffffff

$footbox_center_background_color_IE: #555555
$footbox_center_background_color: #555555

$content_container_background_color_IE: #ffffff
$content_container_background_color: #ffffff

$navigation_background_color_IE: #23af82
$navigation_background_color: #23af82

$base_color_IE: #ffffff
$base_color: #ffffff

$navigation_background_base_color_IE: #23af82
$navigation_background_base_color: #23af82

$footboxes_background_color_IE: #555555
$footboxes_background_color: #555555

$content_sub_background_color_IE: #ffffff
$content_sub_background_color: #ffffff

$header_background_color_IE: #41cda0
$header_background_color: #41cda0

$ribbon_sub_link_background_color_IE: #2d2d2d
$ribbon_sub_link_background_color: #2d2d2d

$navigation_link_text_color_IE: #ffffff
$navigation_link_text_color: #ffffff

$footbox_right_background_color_IE: #555555
$footbox_right_background_color: #555555

$footer_background_color_IE: #555555
$footer_background_color: #555555

$listlineoddcolor_IE: #dcfff0
$listlineoddcolor: #dcfff0

$ribbon_background_color_IE: #ffffff
$ribbon_background_color: #ffffff

$listlineevencolor_IE: #f0ffdc
$listlineevencolor: #f0ffdc

$footbox_left_color_IE: #b4b4b4
$footbox_left_color: #b4b4b4

$content_sub_link_background_color_IE: #2d2d2d
$content_sub_link_background_color: #2d2d2d

$hcolor_IE: #28280a
$hcolor: #28280a

