
/*--------------------------------------------------------------
 *   typography1.css
 *--------------------------------------------------------------

$appcontentfontsize: 8pt
$bodyfontsize: 1em 
$paragraphfontsize: 8pt
$tablefontsize: 7pt

$bodymargin: 10px
$bodypadding: 10px

$tableheaderpadding: 6px
$tableheadermargin: 0px
$tableborder: 0px
$tablemargin: 0px
$tablepadding: 6px
$border_radius: 1em

$left_sidebar_list_text_size: $bodyfontsize 
$left_sidebar_list_text_font: arial 
$navigation_link_text_size: $bodyfontsize/0.8 
$navigation_link_text_font: arial 
