%h2
  Weight Management
%p 
  Many people diet to shed extra weight, but does it work? Keeping weight off permanently is very different from following the latest fad  crash diet. Trying to follow something which doesn't really fit into your life is hard to stick with, and weight gain can often happen later when the diet is inevitably broken. 
%p
  Our day to day life is made up of many habits. The key to successful weight loss that lasts is changing these habits by developing the right skills and strategies to deal with them.
%p
  Managing our weight is a challenge and many factors can play a part in our success. We can help you understand all aspects of your weight management and sort the facts from the fiction about what will work. Together, you can look at all the issues involved and come up with a way forward that works for you.

%h2
  Type 2 Diabetes
%p
  You may have just been diagnosed with type 2 diabetes or had it for some time. Diabetes is a chronic condition, although it can't be cured, it can be treated very successfully. 
%p
  The ideal aim of treatment is to achieve blood glucose, blood pressure and cholesterol levels as near to normal as possible. This, together with a healthy lifestyle, will help to improve your wellbeing and protect against long-term damage to the eyes, kidneys, nerves, heart and major arteries. What you eat, how much activity you do and what your weight is are therefore central to your treatment for diabetes. We can look at all these factors with you and help you to work out a plan to suit you. 
%p
  You may be taking tablets and/or insulin to help you achieve normal blood glucose levels. Information from your medical practitioner on your medical treatment and medication would be needed, prior to your consultation.

%h2
  Nutrition and Heart Health
%p
  A healthy diet can help to protect you against heart disease as your nutrition plays a significant part in helping to reduce the major risk factors for heart disease such as cholesterol, weight and high blood pressure (hypertension.) 
%p
  We can provide you with the latest evidence on links between diet and heart health and together you can take a closer look at your usual diet, and consider what changes would help to reduce your risk. It is also the ideal opportunity to consider what changes and additions to your diet could help to protect your heart health in the long term.
%h2
  Nutrition and Fertility
%p
  A healthy balanced diet, which gives your body all its essential nutrients for health and wellbeing, is really important when trying to conceive. Being a healthy body weight is also important before pregnancy. If you're underweight, it can be more difficult to conceive and if you're overweight, you run a greater risk of complications such as high blood pressure and diabetes during pregnancy.
%p
  Keeping healthy is also important for the father to be. A good balance of nutrients within the diet, particularly vitamins and minerals, has a vital role to play in male fertility
								
 
%h2
  What to expect from a consultation 
%p
  A one to one consultation with us, gives you the opportunity to discuss your individual needs and goals. She will ask you about your relevant medical and social history, your lifestyle and typical food choices and eating patterns.  We firmly believe any changes to your diet and lifestyle have to be achievable and realistic if they are to work for you in the long term. 

%p
  Each consultation lasts up to an hour and comprises:
%ul
  %li
    Thorough assessment and scientifically sound nutritional advice tailored to suit you 
  %li
    Formulation of a realistic action plan for change which you can achieve 
%p
  Although a one off consultation might be all you feel you need, in most cases clients find further sessions invaluable. If so, you can then take advantage of a cost effective package of sessions (see below). You can discuss your individual requirements with us at your first session.
 
%h2
  Packages
%h3
  Starter Package
%p
  A starter package is ideal for anyone wanting to achieve nutrition or lifestyle improvements.
%p
  It comprises:
%ul
  %li
    A total of 3 hours of one on one time with us 
  %li
    Scientifically based nutrition and lifestyle advice tailored to help you reach your goals 
  %li
    Meal ideas and plans to fit in with your lifestyle 
  %li
    A problem solving approach to help you overcome any difficulties 
  %li
    Support, advice and motivational techniques to keep you on track 

%h3
  Intensive Package
%p
  This provides longer term follow up, support and motivation for those goals which might be a little harder to reach:
%ul
  %li
    All of the above in addition to: 
  %li
    A total of 5 hours of one on one time with us 
  %li
    Unlimited phone/email contact between sessions 

%h3
  Nutrition and fitness packages
%p
  We works alongside fitness specialists who specialise in helping you improve your physical well being. Combined intervention from both a nutrition and fitness professional can give you the edge on meeting your goals.

%h3
  Fees
%p
  We offer an initial free 10 minute phone consultation.
%p
  Fees are dependent on location and packages. All fees are in line with the British Dietetic Association Recommendations. Please Contact us  for more information.

%h3
  Contacting your GP
%p
  In some cases, it might be necessary to contact your GP prior to your consultation for more information. However, your permission will always be granted before contacting anyone else with regards your treatment.
%p
  For example if you have a newly diagnosed condition, a complex medical history, or details of blood test results or medication are required, prior to giving advice.

%h3
  Locations
%p
  We run clinics at:

%h3
  Appointment times
%p
  Appointments are available throughout the week. Clinics are typically run in the afternoon/ evening from 4pm- 8pm. 
%p
  It is also possible to have a consultation with us at other times, depending on availability. Please Contact us to discuss your individual requirements.
 
%h3
  Insurance Cover
%p
  We are registered with major insurers. Please check with your insurance company as to what your policy covers you for.
 
%h3
  Cancellation Policy 
%p
  To enable us to run an efficient service with short waiting times, 24 hours notice is required to cancel an appointment. It is appreciated that in some circumstances, short notice may occasionally be unavoidable, and discretion will be exercised in such cases.
%p
  We are registered with the 
  %a{:href=>"www.hpcheck.org", :name=>"www.hpcheck.org"}
    Health Professions Council (www.hpcheck.org)
  and the 
  %a{:href=>"www.bda.uk.com", :name=>"www.bda.uk.com"}
    British Dietetic Association (www.bda.uk.com)
%h3
  Our Philosophy
%p
  We are passionate about educating, motivating and inspiring people to lead healthy, balanced lives. She has extensive experience in helping people with the challenges faced when changing eating and lifestyle behaviour.
%p
  We understands that everyone’s needs are different, whether it be a thirst for knowledge on diet and nutrition or a more supportive, skill based approach to changing behaviour, a dietetic consultation with us can help.
%p
  With food and health constantly in the media spotlight, it can often feel a challenge to know what is best for you. We are committed to communicating clear, sound, nutrition information to the public. She has recently appeared on the BBC Breakfast programme to discuss and debate topics such as ‘superfoods’ and ‘taxing chocolate!’ and also contributes to main stream press.

%h2
  Why see a dietitian?
%p
  Dietitians are the only nutrition professionals to be statutorily regulated, and governed by an ethical code, to ensure that they always work to the highest standard.
%p
  Dietitians are uniquely trained to take the most up to date public health and scientific research on food, health and disease, and translate this into practical guidance to enable you to make appropriate lifestyle and food choices.
%p
  For more information on the British Dietetic Association please see www.bda.uk.com
%p
  Registered Dietitians are the only qualified health professionals that assess, diagnose and treat diet and nutrition problems at an individual and wider public health level. 

%p
  Dietitians use the most up to date health and scientific research on food, health and disease and they translate the science of nutrition into practical guidance to inform and educate the general public about health and nutrition. They promote health and wellbeing through nutrition by teaching the public on how to make good food and lifestyle choices.

%p
  Dietitians will have a 4 year Bachelor degree in Nutrition and Dietetics or a 3 year science degree followed by a master's degree in dietetics. Part of the degree will include completing a practical training element working in a hospital and in the community.
%p
  Dietitians are the only nutrition professionals to be statutorily regulated, and governed by an ethical code which ensures that that they always work to the highest standard within the professional codes of conduct. The title dietitian can only be used by those appropriately trained professionals who have registered with the Health Professions Council. 


%h2
  What are the differences between a dietitian and a nutritionist?
 
%p
  Nutritionists, unlike registered dietitians, do not have a protected name, so anyone may call themselves a nutritionist without having substantial scientific training. People can undergo short courses in nutrition and call themselves nutritionists while others do hold university degrees in nutrition or food science. Those that have completed a degree in nutrition are able to work in the public health sector but are not qualified to diagnose or treat health related nutrition problems, unlike dietitians.

%p
  Many unqualified people call themselves 'nutritionists' to describe their involvement in food and nutrition related practice and therefore it is worth being extra cautious and checking what qualifications they hold when choosing a nutritionist.

%ul
  %li
    %a{:href=>"http://www.bda.uk.org"}
      British Dietetic Association
  %li
    %a{:href=>"http://www.hpd-uk.org"}
      Health Professions Council
  %li
    %a{:href=>"http://www.nutrition.org"}
      British Nutrition Foundation
  %li
    %a{:href=>"http://www.food.gov.uk"}
      Food Standards Agency
  %li
    %a{:href=>"http://www.bhf.org.uk"}
      British Heart Foundation
  %li
    %a{:href=>"http://www.diabetes.org.uk"}
      Diabetes UK
  %li
    %a{:href=>"http://www.coeliac.org.uk"}
      Coeliac Society
  %li
    %a{:href=>"http://www.allergyuk.org"}
      The British Allergy Foundation
  %li
    %a{:href=>"http://www.nhs.uk/change4life"}
      Change for Life
  %li
    %a{:href=>"http://www.infantandtoddlerforum.org"}
      Infant and Toddler Forum

%p
  Please feel free to contact us if you have any other nutrition concerns that are not listed above. As part of the service, referrals to other specialities will be made if needed. 
  
%p
  We are officially recognised by the following healthcare medical insurance providers: 

%ul
  %li
    PPP Healthcare Insurance 
  %li 
    Western Provident Association 

%p
  This list is certainly not exhaustive and there are instances where other insurers cover consultations. Please feel free to enquire or ask your insurer direct. 

%p
  Many insurance providers will cover the cost of a new and follow-up appointment with a Registered Dietitian if the original referral has been received from a Consultant.
%ul
  %li
    Health Questionnaire.pdf
  %li
    3 Day Food Diary.pdf
  %li
    Food and Symptom Diary.pdf

%h1
  Other services

%h2
  Health screening profiles

%h2
  Mineral Profile
%ul
  %li
    Calcium 
  %li
    Magnesium
  %li
    Zinc
  %li
    Iron
  %li
    Copper
  %li
    Chromium
  %li
    Manganese
  %li
    Selenium

%h2
  Vitamin Profile
%ul
  %li
    Vitamin A, 
  %li
    Vitamins B1, B2, B6, B12, 
  %li
    Vitamin D(1,25 Dihydroxy), D(25 OH)

%h2
  Well Person Profile
%ul
  %li
    Biochemistry Profile
  %li
    Haematology Profile
  %li
    Free T4 & TS
  %li
    Lipid Profile
  %li
    ESR

%h2
  Well Man Profile
%ul
  %li
    Well Person profile
  %li
    PSA
  %li
    High Sensitivity CRP

%h2
  Well Woman Profile
%ul
  %li
    Well Person Profile
  %li
    Iron Status
  %li
    High Sensitivity CRP

%h2
  Cardiac Risk Profile
%ul
  %li
    Well Person Profile
  %li
    Lipoprotein
  %li
    High Sensitivity CRP
  %li
    Homocysteine
  %li
    Insulin

%h2
  Iron Status
%ul
  %li
    Haematology Profile
  %li
    Serum Iron
  %li
    Ferritin
  %li
    TIBC (Total Iron Binding Capacity)

%h2
  Lipid Profile
%ul
  %li
    Cholesterol
  %li
    Triglycerides
  %li
    High Density Lipoproteins (HDL)
  %li
    Low Density Lipoproteins (LDL)

%h2
  Other services: 
%p
  Coeliac, Bone profile, Semen analysis, Thyroid, Allergy, Gut hormones, Folate, Glucose, HbA1c, Iodine, Lead, Mercury, Malarial Parasites, Om6/EPA Om3,
