.bundle
db/*.sqlite3
log/*.log
tmp/**/*
css/.sass-cache/*
css/sass/.sass-cache/*
gen/sidebar*
./.Gemfile.swp
*~
*.swp
*.swo
*.txt
*.xls
*.xlsx
*.rtf
*.doc
*.docx
*.psd
*.ai
*.jpg
*.gif
*.png
*.pdf
*.ico
*.swf
*.flv
*.tmp
tmp/tmp_migrations_old/*
tmp/
*.zip
