!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      -#= h(yield(:title)) || controller.action_name
    %link{ :href => "css/coffee.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
  %body
    #wrap.group

      .main
        %h2 
          Coffee News
          %span.amp &amp;
          Goings On
        %hr
        .entry
          %h3
            New Study Says Coffee "Good"
            %ul.entry-meta
              %li
                %h4
                  November 9, 2010
              %li
                Posted At 10:14
                %abbr
                  AM
              %li
                %span.by
                  by
                Dunder Shellfish

          .entry_body
            %p.photo
              %img{:src => "../../images/reflections0.jpg", :alt => ""}
            %p 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .secondary
        .mod_alt
          %h3
            Press
          %hr

          %ul.press
            %li
              %blockquote
                %p 
                  "Tugboat Coffee just may be the most amazing coffee I've ever tasted."
                %p.author
                  Martin Farmer
                  %cite
                    BeanzMag
            %li
              %blockquote
                %p 
                  "Tugboat Coffee is great
                %p.author
                  John Turner
                  %cite
                    Feelybits
            %li
              %blockquote
                %p 
                  "I love Tugboat Coffee"
                %p.author
                  Martina Navratilova
                  %cite
                    Wimbledon

      #footer
        Copyright &copy; 2010. Tugboat Coffee is fictitious


