!!!
%html
  %head
    %link{:rel => "shortcut icon", :href=>"images/spacer.gif" }
    %link{:rel => "stylesheet", :href=>"css/main.css", :type=>"text/css" }
    %meta{:name => "keywords", :content=>" "} 
    %meta{:name => "description", :content=>" "}
    %meta{:name => "robots", :content=>"index,follow"}
    %meta{:httpequiv => "Content-Type", :content=>"text/html; charset=iso-8859-1"}
    %meta{:name => "search", :content=>"yes"}
    %title
 
  %script{:src=>"js/main.js"}
  %script{:src=>"js/menu_functions.js"}
  %script{:src=>"js/layer.js"}
  %body
    #container
      #header
      #navigation
      #content
      #footer
